    <table class="table table-hover">
        <tr>
            <td width="300px"><img width="300" height="400" src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=740&t=st=1677943863~exp=1677944463~hmac=6261ebc4f24ce308abb066f2b65a73eb552f1067ecdf0be6d87d6cacfb0fe7d9" alt="Image Unavailable"></td>
            <td>
                
                <h1>{{ doctor.Name }}</h1>
                <p>Position : {{ doctor.Position }}</p>
            </td>
        </tr>
    </table>
