    <table class="table table-hover">
        <tr>
            <td width="300px"><img width="300" height="400" src="{{ patient.img_path }}" alt="Image Unavailable"></td>
            <td>
                <h1>Name: {{ patient.Name }}</h1>
                <p>Address : {{ patient.Address }}</p>
                <p>Phone : {{ patient.Phone }}</p>
                <p>SSN : {{ patient.SSN }}</p>
                <p>PCP : {{ patient.PCP }}</p>
                <p>InsuranceID : {{ patient.InsuranceID }}</p>
            </td>
        </tr>
    </table>
