    <table class="table table-hover">
        <tr>
                <h1>PatientID : {{ prescription.Patient }}</h1>
                <p>Medication: {{prescription.Medication}}</p>
                <p>Date : {{ prescription.Date }}</p>
                <p>AppointmentID : {{ prescription.Appointment }}</p>
                <p>Dose : {{ prescription.Dose }}</p>
                <td width="300px"><img width="300" height="400" src="{{ prescription.report }}" alt="Report Unavailable"></td>
                <td>
            </td>
        </tr>
    </table>
