{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% if current_user.is_authenticated %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% else %}
    <h1>Hi, stranger!</h1>
    {% endif %}
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    {% if doctors %}
    <h1>Our Doctors</h1>
    {% endif %}
    {% for doctor in doctors %}
        {% include '_doctor.html' %}
    {% endfor %}
    {% for user in users %}
        {% include '_user.html' %}
    {% endfor %}
    {% for patient in patients %}
        {% include '_patient.html' %}
    {% endfor %}
    {% for appointment in appointments %}
        {% include '_appointment.html' %}
    {% endfor %}
    {% for prescription in prescriptions %}
        {% include '_prescription.html' %}
    {% endfor %}
    
    {% if current_user.is_authenticated %}
        {% if current_user.user_cat == 'admin' %}
            <form method="post">
                <input type="submit" class="btn btn-info" value="Add User" name="Add User">
                <a href="{{ url_for('add_user') }}">
                <input type="submit" class="btn btn-info" value="Add Procedure" name="Add Procedure">
                <a href="{{ url_for('add_procedure') }}">
                <input type="submit" class="btn btn-info" value="Add Physician" name="Add Physician">
                <a href="{{ url_for('add_physician') }}">
                <input type="submit" class="btn btn-info" value="Add Department" name="Add Department">
                <a href="{{ url_for('add_department') }}">
                <input type="submit" class="btn btn-info" value="Add Medication" name="Add Medication">
                <a href="{{ url_for('add_medication') }}"></a>
                <input type="submit" class="btn btn-info" value="Add Room" name="Add Room">
                <a href="{{ url_for('add_room') }}">
                <input type="submit" class="btn btn-info" value="Add Nurse" name="Add Nurse">
                <a href="{{ url_for('add_nurse') }}">
                <input type="submit" class="btn btn-info" value="Add Affiliation" name="Add Affiliation">
                <a href="{{ url_for('add_affiliation') }}">
                <input type="submit" class="btn btn-info" value="Add Training" name="Add Training">
                <a href="{{ url_for('add_training') }}">
                <input type="submit" class="btn btn-info" value="View Users" name="View Users">
                <input type="submit" class="btn btn-info" value="Delete User" name="Delete User">
            </form>
        {% endif %}
        {% if current_user.user_cat == 'front_desk' %}
            <form method="post">
                <input type="submit" class="btn btn-info" value="Register Patient" name="Register Patient">
                <a href="{{ url_for('register_patient') }}">
                <input type="submit" class="btn btn-info" value="Admit Patient" name="Admit Patient">
                <a href="{{ url_for('admit_patient') }}">
                <input type="submit" class="btn btn-info" value="Discharge Patient" name="Discharge Patient">
                <a href="{{ url_for('discharge_patient') }}">
                <input type="submit" class="btn btn-info" value="Schedule Appointment" name="Schedule Appointment">
                <a href="{{ url_for('schedule_appointment') }}">
            </form>
        {% endif %}
        {% if current_user.user_cat == 'data_entry' %}
            <form method="post">
                <input type="submit" class="btn btn-info" value="Add results and prescriptions" name="Add results and prescriptions">
                <a href="{{ url_for('add_results_prescriptions') }}">
            </form>
        {% endif %}
        {% if current_user.user_cat == 'doctor' %}
            <form method="post">
                <input type="submit" class="btn btn-info" value="View my Patients" name="View my Patients">
                <input type="submit" class="btn btn-info" value="View my Appointments" name="View my Appointments">
                <input type="submit" class="btn btn-info" value="View my Prescriptions" name="View my Prescriptions">
                <input type="submit" class="btn btn-info" value="Query all patient information by SSN" name="Query all patient information by SSN">
            </form>
        {% endif %}
    {% endif %} 
    
{% endblock %}
